# Environment and config
.env

# # Binaries and build artifacts
# *.exe
# *.out
# *.test
# *.log

# # Dependency directories (vendor if used)
# vendor/

# # OS / editor-specific files
# .DS_Store
# Thumbs.db
# .idea/
# .vscode/
# *.swp
